iframe {
    border: none;
    background: white;
    width: 100%;
    margin: 0px;
    height: 100%
}

body {
    background: black;
    margin: 0px
}

textarea {
    background: #101010;
    color: white;
    width: 50vw;
    height: calc(100vh - 60px);
    resize: none;
    margin: 0px;
}

div#result,
div#editor-cont {
    float: left
}

div#buttons button {
    padding: 13px;
    background: #44ea44;
    border: none
}

div#buttons button:hover {
    background: #10ac17
}

div#buttons {
    background: #5a5a5a;
    width: 100vw;
}

#cont {
    margin: 0px;
}

div {
    margin: 0px
}

div#result {
    width: 49.2vw;
    height: calc(100vh - 56px);
    position: absolute;
    left: 50.55vw;
    top: 41.8px
}
