* {
    font-family: helvetica, sans-serif, Arial
}


::-webkit-scrollbar {
    width: 17px;
    padding: 2px;
    margin: 5px;
}


::-webkit-scrollbar-track {
    background: white;
    margin: 3px;
}


::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 30px;
    margin: 5px;
    width: 5px;
    position: relative;
    right: 5px;
    border: 3px solid white;
}

::-webkit-scrollbar-thumb:hover {
    background: #888888
}

::-webkit-scrollbar-thumb:active {
    background: #555555
}

h1 {
    background: lightgreen;
    text-align: center
}

div.header img {
    position: absolute;
    width: 30px;
    padding: 3px
}

div.header img:hover {
    background: #67cb67
}

h3 {
    background: black;
    color: lightgray;
    padding: 5px
}

pre {
    background: lightgray;
    border-radius: 8px
}

code {
    font-family: monospace;
    position: relative;
    left: 10px
}

button,
a.button {
    margin: 5px;
    background: #1bd31b;
    border: none;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
    font-size: 13px
}

button:hover,
a.button:hover {
    background: #12ad12
}

.hidden {
    display: none
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}
