<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/lessonsCSS.min.css">
    <link rel="icon" href="/static/favicon.png" sizes="256x256" type="image/png">
    <title>CSS Tutorial</title>
</head>

<body>
    <h1>CSS Tutorial</h1>
    <h3>Lessons</h3><br>
    <div style="text-align: center">
        <button onclick="window.location = '/cssLessons?num=1'">Lesson 1: What is CSS?</button><br><br>
        <button onclick="window.location = '/cssLessons?num=2'">Lesson 2: CSS Syntax</button><br><br>
        <button onclick="window.location = '/cssLessons?num=3'">Lesson 3: CSS Selectors</button><br><br>
        <button onclick="window.location = '/cssLessons?num=4'">Lesson 4: CSS Text Styling</button><br><br>
        <button onclick="window.location = '/cssLessons?num=5'">Lesson 5: CSS Backgrounds</button><br><br>
        <button onclick="window.location = '/cssLessons?num=6'">Lesson 6: CSS Width and Height</button><br><br>
        <button onclick="window.location = '/cssLessons?num=7'">Lesson 7: CSS Padding and Margins</button><br><br>
        <button onclick="window.location = '/cssLessons?num=8'">Lesson 8: CSS Positioning</button><br><br>
        <button onclick="window.location = '/cssLessons?num=9'">Lesson 9: CSS Element States</button><br><br>
        <button onclick="window.location = '/cssLessons?num=10'">Lesson 10: Inline, Internal, or External?</button><br><br>
    </div>
</body>

</html>
