<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/lessonsCSS.min.css" </head>
    <title>HTML Tutorial</title>
<link rel="icon" href="/static/fav-2.png" sizes="256x256" type="image/png">
</head>

<body>
    <h1>HTML Tutorial</h1>
    <h3>Lessons</h3><br>
    <div style="text-align: center">
        <button onclick="window.location = '/lessons?num=1'">Lesson 1: What is HTML?</button><br><br>
        <button onclick="window.location = '/lessons?num=2'">Lesson 2: Basic HTML</button><br><br>
        <button onclick="window.location = '/lessons?num=3'">Lesson 3: HTML Attributes</button><br><br>
        <button onclick="window.location = '/lessons?num=4'">Lesson 4: Interactive HTML</button><br><br>
        <button onclick="window.location = '/lessons?num=5'">Lesson 5: HTML Media</button><br><br>
        <button onclick="window.location = '/lessons?num=6'">Lesson 6: HTML Styles</button><br><br>
        <button onclick="window.location = '/lessons?num=7'">Lesson 7: Block and Inline Elements</button><br><br>
        <button onclick="window.location = '/lessons?num=8'">Lesson 8: HTML Forms</button><br><br>
    </div>
</body>

</html>
