<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML Tables and Lists</title>
    <script src="/static/lesson.js"></script>
    <link rel="icon" href="/static/fav-2.png" sizes="256x256" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/lessonsCSS.min.css">
</head>

<body>
<div class="header"><img class="home" src="/static/homeIcon.png" onclick="window.location = '/htmlTutorial'">
    <h1>HTML Tables and Lists</h1>
</div>
    <h3>&lt;table&gt;, &lt;ol&gt;, and &lt;ul&gt;</h3>
    <p>Storing data in your webpages is very useful and there are two easy ways to do it: <br></p>
    <h4>HTML Tables: </h4>
    <p>
        HTML tables are a way to make a chart with columns and rows in HTML. The table must go inside a &lt;table&gt; tag.
        Inside of the &lt;table&gt;, there should be &lt;tr&gt; tags. That is a table row.<br><br>
        Inside the table row there are two kinds of tags you can put: &lt;th&gt; and &lt;td&gt;. The first one is a table header,
        and it usually goes in the first row. The second one is table data, and it used for all the rest of the data in the table.
        <br><br><strong>Note: </strong> You do not need to have &lt;th&gt; tags in the table.<br><br>
        Here's an example of a table:
    </p>
    <pre><code id="table"><span class="hidden">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;HTML Example&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
</span>
&lt;table width="500" height="250"&gt;
    &lt;tr&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Favorite Color&lt;/th&gt;
        &lt;th&gt;Age&lt;/th&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
        &lt;td&gt;John&lt;/td&gt;
        &lt;td&gt;Doe&lt;/td&gt;
        &lt;td&gt;Green&lt;/td&gt;
        &lt;td&gt;37&lt;/td&gt;
    &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;Bob&lt;/td&gt;
        &lt;td&gt;Bobby&lt;/td&gt;
        &lt;td&gt;Black&lt;/td&gt;
        &lt;td&gt;26&lt;/td&gt;
    &lt;/tr&gt;
        &lt;tr&gt;
        &lt;td&gt;Sam&lt;/td&gt;
        &lt;td&gt;??&lt;/td&gt;
        &lt;td&gt;Green&lt;/td&gt;
        &lt;td&gt;42&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;<span class="hidden">

&lt;/body&gt;
&lt;/html&gt;</span>

</code></pre>
    <button onclick="goToEditor($('#table').text())">See Result</button><br>
    <br><button onclick="window.location = '/lessons?num=p'">Previous</button><button onclick="window.location = '/cssTutorial'" style="float:right">Learn CSS!</button>
</body>

</html>
