<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML Tables and Lists</title>
</head>

<body>
    <h1>HTML Tables and Lists</h1>
    <p>Storing data in your webpages are useful but they aren't useful if you don't know how to do it. <br>
        Making a table is a bit complex but pretty easy at the same time. <br>
        you start off with the &lt;table&gt; tag and there are a few more tags you have to put in the table. <br>
        each &lt;tr&gt; tag is a table row. <br>
        &lt;th&gt; and &lt;td&gt; tags always go in &lt;tr&gt; tags. &lt;tr&gt; tags always go in &lt;table&gt; tags. <br>
        the &lt;td&gt; tag makes text in it regular and left aligned. <br>
        the &lt;th&gt; tag makes text in it bold and centered. <br>
        The &lt;list&gt; tag is much easier than the &lt;table&gt; tag. <br>
        You just put a &lt;ol&gt; tag or &lt;ul&gt; tag. <br>
        the &lt;ol&gt; tag makes an ordered list and the &lt;ul&gt; tag makes an unordered list. <br>
        inside one of the the list tags, you put a &lt;li&gt; tag. this is the tag that creates each row of your list. <br>
        whatever you write in here will be part of one row of your list. You can create as many &lt;li&gt; tags as you want! <br>
        (in the ol or ul tag of course!)
    </p>
</body>

</html>
